@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: silver;
    background: slategray;
}

.mainPage{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

header p {
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
}

.mainContent {
    /* background: chartreuse; */
    width: 100%;
    max-width: 1080px;
    
}

.scoreMain{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 2rem ;
    font-size: 3.5rem;
    
}

.names {
   
    margin-top: 3rem;
  
    
}
.names h1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* display: inline-block; */
}

.characters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem;
}

.hideButtons {
    
    display: none;
}

#winOrLose{
    font-size: 3rem;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.buttons button {
    color: white;
    background: #F37358;
    border: none;
    cursor:pointer;
    padding: 1rem 2rem;
    font-family: 'Press Start 2P', cursive;
    margin: 1rem;
    
}

.buttons .btn{
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
    border: none;
    /* text-align: center; */
} 